{% extends "musica_app/base.html" %}

{% block content %}

<div class="artista-create">
    <div class="frosted-glass-form">
        <h1 class="text-center">Crear Nuevo Artista</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
            <a href="{% url 'artista_index' %}" class="btn btn-secondary"><i class="fas fa-times"></i> Cancelar</a>
        </form>
    </div>
</div>

{% endblock %}
