{% extends "musica_app/base.html" %}

{% block content %}
<div class="sello-delete">
    <div class="frosted-glass-form">
        <h1 class="text-center text-danger">Eliminar Sello Discográfico</h1>
        <p class="text-center">¿Estás seguro de que deseas eliminar el sello <strong>{{ sello.nombre }}</strong>?</p>
        <form method="post" class="text-center">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Eliminar</button>
            <a href="{% url 'sello_index' %}" class="btn btn-secondary"><i class="fas fa-times"></i> Cancelar</a>
        </form>
    </div>
</div>

{% endblock %}
